---
import { db } from "astro:db";
import { Logs } from "astro:db";

const logs = await db.select().from(Logs);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {
      logs.map((l) => (
        <ul>
          <li>URL: {l.url}</li>
          <li>DATE: {l.date_accessed.toLocaleDateString()}</li>
        </ul>
      ))
    }
  </body>
</html>
