---
import { getCollection } from "astro:content";
import BaseLayout from "../layout/BaseLayout.astro";

const posts = await getCollection("posts");
---

<BaseLayout>
  <h1>Blog Posts</h1>
  <ul role="list">
    {
      posts
        .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
        .map((post) => (
          <li>
            <a href={`/posts/${post.data.slug}`}>{post.data.title}</a>
          </li>
        ))
    }
  </ul>
</BaseLayout>
