---
import { getCollection } from "astro:content";

import Hero from "@/components/Hero.astro";
import Projects from "@/components/project/Projects.astro";
import WhyWorkWithMe from "@/components/home/WhyWorkWithMe.astro";
import Heading from "@/components/ui/Heading.astro";
import BlogCard from "@/components/blog/BlogCard.astro";
import Layout from "@/layouts/Layout.astro";
import Connect from "@/components/Connect.astro";
import Counter from "@/components/Counter";
import ReactForm from "@/components/ReactForm";

const posts = await getCollection("blogPosts", ({ data }) => !data.isDraft);
---

<Layout>
   <video controls autoplay muted playsinline transition:persist="video">
    <source
      src="https://ia804502.us.archive.org/33/items/GoldenGa1939_3/GoldenGa1939_3_512kb.mp4"
      type="video/mp4"
    />
  </video>
  <ReactForm client:load />
  <Counter client:load pageTitle="Home" transition:persist="react-counter" />
  <Hero />
  <WhyWorkWithMe />
  <section aria-labelledby="recent-projects" class="container rows">
    <Heading tagName="h2" tagSize="h2" id="recent-projects">
      Recent Projects
    </Heading>
    <Projects limit={3} tagName="h3" />
  </section>
  <Connect />
  <section aria-labelledby="recent-posts" class="container rows">
    <Heading tagName="h2" tagSize="h2" id="recent-posts">
      Latest Blog Posts
    </Heading>
    <div class="grid-wrapper">
      {
        posts
          .sort(
            (a, b) =>
              new Date(b.data.pubDate).getTime() -
              new Date(a.data.pubDate).getTime()
          )
          .slice(0, 3)
          .map((post) => <BlogCard post={post} tagName="h3" />)
      }
    </div>
  </section>
</Layout>
