---
import Button from "../components/Button.astro";
import Heading from "../components/Heading.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astro Components</title>
  </head>
  <body>
    <Heading tag="h2" size="h5">Astro Components</Heading>
    <Button color="#333" id="my-id" aria-label="click me btn">Btn Text</Button>
  </body>
</html>
