---
import BaseLayout from "../layouts/BaseLayout.astro";

import { Content as PromoBanner } from "../components/promoBanner.md";
---

<BaseLayout title="Home">
  <h1>Homepage</h1>
  <PromoBanner />
</BaseLayout>
